.row-header{
    margin: 0px auto;
    padding: 0px auto;
    color: floralwhite;

}
.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    color: brown;
    border-bottom: 1px ridge;
    min-height: 400px;
    
}
.footer{
    color: floralwhite;
    background-color: brown;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-color:brown;
    color: floralwhite;
}
.address{
    font-size: 80%;
    margin: 0px;
    color: floralwhite;

}
.about{
    color: brown;
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: brown;
}
.breadcrumb{
    background-color: papayawhip;
    
    
}
.table{
    color: brown;
    
  }

/* .btn{
    size: 30px 10px 30px 10px;
    background-color: brown;
} */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.card-header{
    color: brown;
    background-color: white;
}
.card-body{
    color: brown;
}
.collapsed{
    color: brown;
}
.collapse{
    color: brown;
}
.carousel {
    background:brown;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
#carouselButton {
    right:0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

  
  